
@{
    ViewBag.Title = "Index";
}

<div id="messages" class="leftPortion">
    <table id="message" class="table">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Please change you..</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dueAssignments" class="rightPortion">
    <table id="assignments" class="table">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Name</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Assignment 1</td>
                <td>12.04.2016</td>
            </tr>
        </tbody>
    </table>

</div>

<br />
<br />
<br />
<br />
<br />
<br />